<div class="modal inmodal in" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">{{ .Params.test }}</h4>
                <small class="font-bold">Aree di intervento</small>
            </div>
            <div class="modal-body">
                <p>Il Disturbo Depressivo è caratterizzato dalla presenza di uno o più episodi Depressivi Maggiori. L’abbassamento grave dell’umore si può manifestare mediante molteplici sintomi tra cui autolesività, improduttività, astensionismo, caduta d’interesse per le relazioni umane, livelli variabili di ansia e angoscia, sintomi somatici, disturbi del sonno. A tali sintomi possono affiancarsi improvvise esplosioni d’ira con azioni auto o etero distruttive.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
