<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption d-block text-right">
                    <p>Psicologa.</p>
                    <p>Psicoterapeuta Adleriana.</p>
                    <h1><span class="navy">Cristina Iorio</span></h1>
                    <p>La mente in continuo movimento</p>
                 </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
</div>
