<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Attività in ambito privato</h2>
            <p>Valutazioni psicodiagnostiche, colloqui di counseling e consultazione, percorsi di sostegno psicologico e psicoterapia rivolti a minori ed adulti, consulenze tecniche di parte in situazioni di separazione e divorzio, sostegno alla genitorialità.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Le aree di intervento</h2>
            <p>Disturbi dell’umore, disturbi d’Ansia, disturbi psicosomatici, disturbi alimentari, disturbi del sonno, disturbi dell’infanzia, della fanciullezza e dell’adolescenza, sostegno alla genitorialità</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Curriculum Vitae</h2>
            <p>Nata a Busto Arsizio il 16 dicembre 1972, risiede a Gallarate dove lavora come libero professionista nell’ambito della Tutela Minori e presso il suo studio di Psicologia e Psicoterapia.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Contatti</h2>
            <p>Studio professionale</p>
            <p>Vicolo degli orti, 2 – 21013</p>
            <p>Gallarate (Varese)</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
</section>
